html {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}


* {
    box-sizing: border-box;
}


html {
    display: block;
}

meta {
    display: none;
}

body {
    margin: 0;
}

body {
    display: block;
    margin: 8px;
}

div {
    display: block;
}


header {
    background-color: #06D6A0;
    padding: 20px;
    text-align: center;
}

article, aside, footer, header, hgroup, main, nav, section {
    display: block;
}

.logo {
    margin: 0;
    color: white;
    font-size: 30px;
}

h1 {
    display: block;
    font-size: 2em;
    -webkit-margin-before: 0.67em;
    -webkit-margin-after: 0.67em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}


nav, section {
    display: block;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: block;
}
