html {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 1.2em;
}


* {
    box-sizing: border-box;
}


html {
    display: block;
}

meta {
    display: none;
}

body {
    margin: 0;
}

body {
    display: block;
    margin: 8px;
}

div {
    display: block;
}


header {
    background-color: #06D6A0;
    padding: 20px;
    text-align: center;
    overflow: hidden;
    height: 60px;
    padding: 0 20px;
}

article, aside, footer, header, hgroup, main, nav, section {
    display: block;
}

.logo {
    margin: 0;
    color: white;
    font-size: 30px;
}



h1 {
    display: block;
    font-size: 2em;
    -webkit-margin-before: 0.67em;
    -webkit-margin-after: 0.67em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}
.navbar {
    float: right;
    padding: 0;

}
.nav-item {
    margin-bottom: 5px;
    display: inline-block;

}

nav, section {
    display: block;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}


.container {
    max-width: 900px;
    margin: auto;
}

img {
    max-width: 100%;
}



.product-item > img {
    border: 3px solid black;
}

.product-item {
    float: left;
    width: 33%;
    padding: 10px;
}

.product-wrapper {
    overflow: hidden;
}

.hero {
  overflow: hidden;
background-color: #26547C;
color: white;
}

.hero-image {
    float: left;
    width: 60%;
}

.hero-content {
  border: 0;
    text-align: center;
}

.hero-content {
    float: left;
    width: 40%;
    font-size: 25px;
}

.hero {
    overflow: hidden;
    background-color: #26547C;
    color: white;
}

.hero-content > h2 {
    display: inline-block;
    padding-bottom: 5px;


  }

  .call-to-action {
    background-color: #FFD166;
}

.call-to-action, .products, .about {
  padding: 30px 20px;
}

h3 {
    display: block;
    font-size: 1.17em;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
  }


  p {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

.products {
    background-color: #F2F2F2;
}

.products, .about {
    padding: 30px 20px;
}


.about {
    background-color: #26547C;
    color: white;
}

.team {
    overflow: hidden;
}


.logo {
    float: left;
    line-height: 60px;
    font-size: 18px;
}

.team-fun, .team-values, .team-meow {
    float: left;
    width: 33.33333%;
    text-transform: uppercase;
    text-align: center;
    color: #EF476F;
}

footer {
    background-color: #06D6A0;
    height: 50px;
    line-height: 50px;
    text-align: right;
    padding: 0 20px;
}
